version: "3.7"

services:
  src:
    build:
      context: .
    ports:
      - "8000:8000"
    volumes:
      - ./src:/src
    command: sh -c "python manage.py runserver 0.0.0.0:8000"
    environment:
      - DEBUG=1
